/* Default reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lighBlue: #A5D6D9;
    --vlightBlue: #C3E5E7;
    --darkOrange: #DF7027;
    --darkestOrange: rgb(201, 88, 14);
    --lightOrange: rgb(241, 172, 98);
    --xl-blue: #88DBF5;
    --l-blue: #21BCF0;
    --blue: #079AE5;
    --d-blue: #030324;
    --xd-blue: #64647a;
    --xdd-blue: #31315c88;
    --darkestBlue: rgb(11, 38, 88);
    --bckNight: linear-gradient(#0e021a, #120b3b, #0d163f, #3a467c, #6d6347);
    --bckDay: linear-gradient(#202a5a, rgb(199, 180, 128), rgb(196, 160, 60), rgb(180, 146, 50), rgb(182, 136, 9));
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: calc(14px + (26 - 12) * ((100vw - 300px) / (1920 - 300)));
    color: #fff;
}

/* Night mode body*****************************************************************************************************/
body.night {
    background-image: var(--bckNight);
    /* background-size: 100%; */
}

body.night .container__left--today,
body.night .container__right--tomorrow {
    padding: 25px;
    background-color: rgba(223, 113, 39, 0.753);
    border-radius: 20px;
    border: 5px solid rgba(219, 164, 44, 0.103);
}

body.night .container h1 {
    display: inline-block;
    padding: 20px auto;
    color: white;
    text-shadow: 1px 1px #9692a8;
}

body.night .date {
    color: var(--lightOrange);
}

/* 
body.night .date {
    /* padding: 0px 0px 100px 0px; */
/* color: var(--d-blue); */
/* border-bottom: 1px dashed var(--darkOrange); */
/*  color: (--d-blue);*/
/*}*/

/* Day mode body *****************************************************************************************************/
body.day {
    background-image: var(--bckDay);
    /* border: 10px solid dark; */
}

body.day .container__left--today,
body.day .container__right--tomorrow {
    box-sizing: border-box;
    padding: 25px;
    background-color: rgb(11, 38, 88);
    border-radius: 20px;
    border: 5px solid rgb(10, 39, 94);
}

body.day .container h1 {
    display: inline-block;
    color: white;
    text-shadow: 1px 1px #9692a8;

}

body.day .date {
    color: var(--xd-blue);
}

/* Main container *****************************************************************************************************/
.container {
    display: flex;
    height: 100vh;
    /* border: 1px solid red; */
}

.bar {
    padding: 10px;
}

/* Input bar */
input {
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

/* Button */
.button {
    background-color: var(--xdd-blue);
    color: white;
    border: 1px solid rgba(83, 80, 80, 0.637);
    padding: 10px;
    margin: 5px 0px 0px 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: calc(14px + (26 - 12) * ((100vw - 300px) / (1920 - 300)))/2;
}

body.day .button:hover {
    color: var(--darkestBlue);
    background-color: rgba(255, 255, 255, 0.13);
}

body.night .button:hover {
    color: var(--lightOrange);
    background-color: rgba(255, 255, 255, 0.014);
}


/* Left container today weather */
.container__left {
    flex-grow: 1;
}

/* Right container all next days */
.container__left,
.container__right {
    padding: 25px;
}

.container__right {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/* Style for today & tomorrow weather *********************************************************************************/
.container__left--today,
.container__right--tomorrow {
    display: flex;
    flex-grow: 1;
    width: 100%;
    /*height: 100%; prawy kontener nie może miec 100% wysokości bo nie mieszczą się pozostałe dni*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container__left--today {
    height: 100%;
}

/* Style for today weather *****************************************************************************************/
/* TU STYLUJEMY KOLORKI ITP. */
.container__left--today div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

/* Style for tomorrow weather *****************************************************************************************/
/* TU STYLUJEMY KOLORKI ITP. */
.container__right--tomorrow div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
}

.weather_tomorrow {
    max-width: 20%;
}

/* Style for next days weather ****************************************************************************************/
.container__right--nextDays {
    display: flex;
    width: 100%;
    height: auto;
}

/* Style for small weather days */
/* TU STYLUJEMY KOLORKI ITP. */
.container__right--nextDays>div {
    padding: 10px;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: #ffffff4d;
}

.container__right--nextDays>div:last-child {
    margin-right: 0;
}

.container__right--nextDays div {
    width: 25%;
    height: auto;
}

.container__right--nextDays div>div:first-child {
    width: 100%;
    height: auto;
    display: flex;

}

.container__right--nextDays div>div:last-child {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
