
.icon-wind:before { content: '\e800'; } /* '' */
.icon-compass:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e803'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */